html {
 
}

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: white;
}

.belozerskoye-title {
	font-family: Anta, fantasy;
	color: white;
	font-size: 120px;
	position: fixed;
	z-index: 6;
	display: flex;
    justify-content: center;
	top: 50px; 
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: -90px; 
    text-shadow: 2px 2px 7px green;
	text-align: center;
}

.background-container {
	position: relative;
}

.background {
	width: 100%;
	height: 900px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
	display: flex;
    justify-content: center;
}

.background.stars {
	background-image: url("../images/index/largerbgmain.jpg");
	z-index: 10;
	scroll-snap-align: start;
}

.background.foreground {
	background-image: url("../images/index/largerbgmainsecond.png");
	position: absolute;
	top: 0;
	left: 0;
	z-index: 12;
	display: flex;
}

.lastsnowgirls {
	width: 100%;
	height: 900px;
	font-size: 30px;
	z-index: 11;
	background-color: white;
	position: absolute;
}

.lastsnowblockgirls {
	width: 100%;
	height: 100px;
	background-color: black;	
	position: absolute;
	bottom: 0px;
	z-index: 1;
	border-top: 3px solid;
}

.linksnowgirls{
	color: white;
	text-align: center;
}

.welcome{
	text-align: center;
}
