html {	
	@import url('https://fonts.googleapis.com/css2?family=Anta&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap')
}

body {
	height: 100%;
}

.fjordtopblock {
	display: flex;
	justify-content: space-between;
	height: 60px;
	width: 100%;
	top: 0;
	right: 0;
	position: static;
	border-bottom-color: black;
	border-bottom: 1px solid black;
	z-index: 3;
}

.fjordtopblockitem1 {
	margin: 0px 0px 0px 20px;
	font-size: 40px;
	height: 100%;
	font-family: Courier New;
}


.fjordtopblockitem2 {
	font-family: Courier New;
	font-size: 50px;
}

.fjordtopblockitem3 {
	font-size: 40px;
	margin: 0px 20px 0px 0px;
	font-family: Courier New;
}

.fjord-button {
	padding: 0px 0px 0px 0px;
}

.mainfjordcontent {
	display: flex;
	justify-content: center;
	height: 100px;
	width: 100%;
	position: static;
	z-index: 2;
	top: 0;
	left: 0;
	font-family: Courier New;
}

.mainfjordcontent p{
	font-size: 40px;
}

.aboutfjords {
	margin: 100px 0px 0px 0px;
	height: 700px;
	letter-spacing: -1px;
	width: 100%;
	position: static;
	font-family: Courier New;
	display: flex;
	flex-direction:	column;
}

.aboutfjords p{
	padding: 25px 0px 15px 30px;
	margin: 0px 0px 0px 70px;
	font-size: 70px;
}

.aboutfjords li{
	font-size: 30px;
	padding: 0px 0px 0px 70px;
}

.aboutfjords img{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	margin-left: 50%;
}

.aboutfjordssecond {
	margin: 100px 0px 0px 0px;
	flex-direction:	column;
	width: 100%;
	height: 700px;
	font-family: Courier New;
	display: flex;
}

.aboutfjordssecond p{
	padding: 25px 20px 15px 0px;
	margin: 0px 0px 0px 70px;
	font-size: 70px;
}

.aboutfjordssecond a{
	font-size: 30px;
	padding: 0px 0px 0px 70px;
}

.aboutfjordssecond img{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	margin-left: 50%;
}

.whyfjords {
	margin: 150px 0px 0px 0px;
	height: 900px;
	border-radius: 30px 30px 30px 30px;
	width: 100%;
	background-color: #323a47;
	padding: 60px 0px 0px 0px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 300px 200px 300px;
}

.questions {
	text-align: center;
	font-size: 40px;
}

.answers {
	text-align: center;
	font-size: 40px;
}

